/* Desenvolva a estilização da sua página aqui */

#app{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'inter';
}

.container__body{
    width: 100vw;
}

.hidden{
    display: none;
}

@media (min-width:1024px){
    main{
        width: 43rem;
        margin: 0px auto;
    }

    #app{
       align-items: center;
    }
}
