.finance__container{
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 39px;
    width: 100%;
    height: 89px; 
}

.title__finance{
    width: 258px;
    height: 19px;
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-2);
    line-height: 19px;
    font-weight: bold;
}

.container__button{
    display: flex;
    gap: 14px;
}

@media (min-width:1024px){

    .finance__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 119px;
        height: 32px;
    }

}